/* Base Styles */

body {
    font-size: 12px;
    line-height: 23px;
    background: url(/crrota_web/static/src/images/Civilization/Background_down.jpg) no-repeat fixed center 0 #263541;
    min-width: 1200px;
    margin: 0 auto;
}

p {
    margin-left: 3px;
}

#inform_panel {
    background-color: #616161;
    height: 46px;
    width: 1200px;
    align-self: center;
    margin: 0 auto;
    border-radius: 7px;
    opacity: 0.7;
}

#inform_panel p {
    font-size: 10px;
}

.inform_city {
    background-color: #575757;
    height: 46px;
    width: 160px;
    float: left;
    border-radius: 7px;
    box-sizing: border-box;
    border: 1px solid #000000;
}

.inform_resource {
    background-color: #575757;
    height: 46px;
    width: 103px;
    margin-left: 1px;
    float: left;
    text-align: center;
    border-radius: 7px;
    box-sizing: border-box;
    border: 1px solid #000000;
    font-size: 10px;
}

.inform_resource p {
    margin: 2px 0 -6px 0;
}

#content {
    width: 1200px;
    min-height: 700px;

}

.menu {
    width: 160px;
    height: 460px;
    background-color: #575757;
    opacity: 0.7;
    border-radius: 7px;
    text-align: center;
    float: left;
}

.menu_button {
    display: inline-block;
    max-width: 170px;
    min-width: 130px;
    height: 22px;
    margin: 3px 0 3px 0;
    line-height: 5px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 8px;
    background: rgb(103, 103, 103) radial-gradient(150% 100% at 50% 5px, rgba(255, 255, 255, .2), rgba(0, 0, 0, 0));
    box-shadow: inset rgba(0, 0, 0, .6) 0 -2px 5px, inset rgba(252, 255, 255, .7) 0 2px 5px, rgba(0, 0, 0, .8) 0 2px 5px -1px;
    color: rgb(0, 0, 0);
    user-select: none;
}

#game_content {
    min-height: 430px;
    width: 1037px;
    float: left;
    margin-left: 3px;
    background-color: #616161;
    opacity: 0.70;
    border-radius: 7px;
}

#footer {
    background: #575757;
    height: 74px;
    clear: both;
    border-radius: 7px;
    width: 1031px;
    margin: 5px auto 3px;

}

#left_footer {
    float: left;
    padding: 30px 0 0 30px;
    color: #fff;
    font-size: 12px;
}

#left_footer a {
    color: #fff;
}

#left_footer a:hover {
    text-decoration: none;
}

#right_footer {
    float: right;
    padding: 30px 30px 0 0;
    color: #fff;
    font-size: 12px;
    text-align: right;
}

#right_footer a {
    color: #fff;
}

#right_footer a:hover {
    text-decoration: none;
}

#block_design_left {
    width: 490px;
    background-color: #616161;
    opacity: 0.8;
    border-radius: 7px;
    float: left;
    margin: 5px 5px 0 5px;
    border: 1px solid #000000;
    padding: 8px;
}

#block_design_right {
    width: 490px;
    background-color: #616161;
    opacity: 0.8;
    border-radius: 7px;
    float: left;
    margin: 5px 5px 0 5px;
    border: 1px solid #000000;
    padding: 8px;
}

#block_design_up {
    min-height: 40px;
    max-height: 100px;
    text-align: center;
}

.design_tabs {
    max-width: 100%;
    height: 650px;
    text-align: center;
    margin: 5px;
}

.design_tabs ul,
.design_tabs li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.design_tabs,
.design_tabs input[type="radio"]:checked + label {
    position: relative;
}

.design_tabs li,
.design_tabs input[type="radio"] + label {
    display: inline-block;
}

.design_tabs li > div,
.design_tabs input[type="radio"] {
    position: absolute;
}

.design_tabs li > div,
.design_tabs input[type="radio"] + label {
    border: solid 1px #848484;
}

.design_tabs {
    font: normal 11px Arial, Sans-serif;
    color: #000000;
}

.design_tabs p {
    text-align: left;
    margin-top: 5px;
}

.design_tabs li {
    vertical-align: top;
}

.design_tabs li:first-child {
    margin-left: 8px;
}

.design_tabs li > div {
    top: 23px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 8px;
    overflow: auto;
    border-radius: 7px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.design_tabs input[type="radio"] + label {
    margin: 0 1px 0 0;
    padding: 0 7px;
    line-height: 22px;
    background: #8c8c8c;
    text-align: center;
    border-radius: 7px 7px 0 0;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.design_tabs input[type="radio"]:checked + label {
    z-index: 1;
    background: #565656;
    border-bottom-color: #a1a1a1;
    cursor: default;
}

.design_tabs input[type="radio"] {
    opacity: 0;
}

.design_tabs input[type="radio"] ~ div {
    display: none;
}

.design_tabs input[type="radio"]:checked:not(:disabled) ~ div {
    display: block;
}

.design_tabs input[type="radio"]:disabled + label {
    opacity: .5;
    cursor: no-drop;
}

#design_pattern {
    width: 88%;
    float: left;
    margin: 5px;
    background: #676767;
    border-radius: 7px;
    border: 1px solid #000;
    opacity: 0.9;
    text-align: center;
}

.design_button {
    display: inline-block;
    width: 150px;
    height: 20px;
    margin-top: 2px;
    line-height: 5px;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 8px;
    background: rgb(103, 103, 103) radial-gradient(150% 100% at 50% 5px, rgba(255, 255, 255, .2), rgba(0, 0, 0, 0));
    box-shadow: inset rgba(0, 0, 0, .6) 0 -2px 5px, inset rgba(252, 255, 255, .7) 0 2px 5px, rgba(0, 0, 0, .8) 0 2px 5px -1px;
    color: rgb(0, 0, 0);
}

.design_place {
    display: inline-block;
    width: 150px;
    height: 20px;
    margin-top: 2px;
    line-height: 5px;
    font-size: 12px;
    text-align: center;
    outline: none;
    border: 1px solid #000000;
    border-radius: 6px;
    background: #c0c0c0;
    color: rgb(0, 0, 0);
}