/* Global Styles */
body {
    font-size: 11px;
    line-height: 20px;
    font-family: Arial, Tahoma;
    background: url(/crrota_web/static/src/images/Index/Fon_body.jpg) no-repeat fixed center 0 #263541;
    min-width: 1100px;
    margin: 0 auto;
}

#inside {
    font-size: 11px;
    line-height: 20px;
    font-family: Arial, Tahoma;
    background: url(/crrota_web/static/src/images/Civilization/Background_down.jpg) no-repeat fixed center 0 #263541;
    min-width: 1100px;
    margin: 0 auto;
}

a {
    color: #68d3ed;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

h1 {
    padding: 0px;
    text-transform: uppercase;
    font-size: 18px;
    color: #000;
    font-weight: normal;
    color: #ffffff;
    margin: 10px 0;
    height: 21px;
}

h1 span {
    background: #616161;
    padding: 0px 10px 0px 0px;
}

p {
    margin: 0;
}

#header {
    background: url(/crrota_web/static/src/images/Index/Fon_header.jpg) no-repeat;
    background-position: center;
    clear: both;
    width: 100%;
    min-width: 1100px;
    height: 300px;
}

#header_inside {
    background: url(/crrota_web/static/src/images/Civilization/Background_Up.jpg) no-repeat;
    background-position: center;
    clear: both;
    width: 100%;
    min-width: 1100px;
    height: 155px;
}

#logo a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 23px;
}

#menu {
    height: 30px;
    max-width: 1600px;
    min-width: 1100px;
    background-color: #616161;
    border-radius: 7px;
    text-align: center;
    margin: 0 auto;
    margin-top: -30px;
}

#menu ul li {
    display: inline-block;
    float: inherit;
    width: 110px;
    list-style: none;
    align-self: center;
    padding: 6px;
}

#menu a {
    display: block;
    width: 110px;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    text-decoration: none;
    font-weight: bold;
    align-items: center;
}

#menu a:hover {
    color: #68d3ed;
}

#inform {
    min-width: 1100px;
    max-width: 1600px;
    height: 44px;
    text-align: center;
    margin: 0 auto;
}

.inform_panel_city {
    margin: 2px 0px 0px 5px;
    background-color: #616161;
    opacity: 0.9;
    border-radius: 5px;
    float: left;
    width: 15%;
    border: 1px solid #323232;
    box-sizing: border-box;
    min-width: 165px;
}

.inform_panel {
    margin: 1px 0px 0px 0px;
    background-color: #616161;
    opacity: 0.9;
    border-radius: 5px;
    border: 1px solid #323232;
    box-sizing: border-box;
    float: left;
    width: 10.5%;
}

#index_center {
    margin: 7px;
    background-color: #616161;
    opacity: 0.8;
    border-radius: 7px;
    float: left;
    width: 69%;
    text-align: center;
}

#index_right {
    margin: 7px 0px 0px 0px;
    background-color: #616161;
    opacity: 0.8;
    border-radius: 7px;
    float: left;
    width: 29%;
    text-align: center;
}

#index_right h3 {
    color: white;
    background-color: #797979;
    border-radius: 5px;

}

#city {
    max-width: 170px;
    border-color: #797979;
    background: #616161;
    border-radius: 7px;
    min-width: 150px;
}

#content {
    clear: both;
    min-width: 1100px;
    max-width: 1600px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.clear {
    clear: both;
}

#block_content {
    max-width: 1600px;
    min-width: 1100px;
    height: 100%;
    margin: 0 auto;
}

#left_menu {
    background-color: #616161;
    float: left;
    opacity: 0.8;
    width: 10%;
    min-width: 150px;
    max-width: 300px;
    min-height: 360px;
    text-align: center;
    vertical-align: middle;
    border-radius: 7px;
    margin: 5px 0px 0px 5px;
    border: 1px solid #000000
}

.choice {
    max-width: 170px;
    min-width: 120px;
    align-self: center;
    margin-top: 2px;
}

.choice_building {
    display: inline-block;
    max-width: 170px;
    min-width: 130px;
    height: 22px;
    margin-top: 2px;
    line-height: 5px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 8px;
    background: rgb(103, 103, 103) radial-gradient(150% 100% at 50% 5px, rgba(255, 255, 255, .2), rgba(0, 0, 0, 0));
    box-shadow: inset rgba(0, 0, 0, .6) 0 -2px 5px, inset rgba(252, 255, 255, .7) 0 2px 5px, rgba(0, 0, 0, .8) 0 2px 5px -1px;
    color: rgb(0, 0, 0);
    user-select: none;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}

.choice_building:hover {
    display: inline-block;
    max-width: 170px;
    min-width: 130px;
    height: 22px;
    margin-top: 2px;
    line-height: 5px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 8px;
    background: #343434 radial-gradient(150% 100% at 50% 5px, rgba(255, 255, 255, .2), rgba(0, 0, 0, 0));
    box-shadow: inset rgba(0, 0, 0, 0.70) 0 -2px 5px, inset rgba(252, 255, 255, .7) 0 2px 5px, rgba(0, 0, 0, 0.88) 0 2px 5px -1px;
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -o-transform: scale(1.15);
    user-select: none;

}

.choice_element {
    display: inline-block;
    max-width: 170px;
    min-width: 130px;
    height: 22px;
    margin-top: 2px;
    line-height: 5px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 8px;
    background: rgb(103, 103, 103) radial-gradient(150% 100% at 50% 5px, rgba(255, 255, 255, .2), rgba(0, 0, 0, 0));
    box-shadow: inset rgba(0, 0, 0, .6) 0 -2px 5px, inset rgba(252, 255, 255, .7) 0 2px 5px, rgba(0, 0, 0, .8) 0 2px 5px -1px;
    color: rgb(0, 0, 0);
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    user-select: none;
}

.choice_element:hover {
    display: inline-block;
    max-width: 170px;
    min-width: 130px;
    height: 22px;
    margin-top: 2px;
    line-height: 5px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 8px;
    background: #343434 radial-gradient(150% 100% at 50% 5px, rgba(255, 255, 255, .2), rgba(0, 0, 0, 0));
    box-shadow: inset rgba(0, 0, 0, 0.70) 0 -2px 5px, inset rgba(252, 255, 255, .7) 0 2px 5px, rgba(0, 0, 0, 0.88) 0 2px 5px -1px;
    color: rgb(0, 0, 0);
    user-select: none;
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -o-transform: scale(1.15);
}

.menu_button {
    display: inline-block;
    max-width: 170px;
    min-width: 130px;
    height: 22px;
    margin-top: 2px;
    line-height: 5px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 8px;
    background: rgb(103, 103, 103) radial-gradient(150% 100% at 50% 5px, rgba(255, 255, 255, .2), rgba(0, 0, 0, 0));
    box-shadow: inset rgba(0, 0, 0, .6) 0 -2px 5px, inset rgba(252, 255, 255, .7) 0 2px 5px, rgba(0, 0, 0, .8) 0 2px 5px -1px;
    color: rgb(0, 0, 0);
    user-select: none;
}

.game_content_up {
    overflow: hidden;
    background-color: #616161;
    opacity: 0.8;
    border-radius: 7px;
    margin: 10px 5px 0px 5px;
    border: 1px solid #000000;
    text-align: center;
}

#game_content_down {
    text-align: center
}

.game_content_scientic {
    width: 20%;
    background-color: #616161;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 7px;
    margin: 6px 2px;
    display: inline-block;
}

.scientic_place {
    display: inline-block;
    width: 150px;
    height: 22px;
    margin-top: 2px;
    line-height: 5px;
    font-size: 14px;
    text-align: center;
    outline: none;
    border: 1px solid #000000;
    border-radius: 6px;
    background: #c0c0c0;
    color: rgb(0, 0, 0);
}

.scientic {
    display: inline-block;
    width: 150px;
    height: 22px;
    margin-top: 2px;
    line-height: 5px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 8px;
    background: rgb(103, 103, 103) radial-gradient(150% 100% at 50% 5px, rgba(255, 255, 255, .2), rgba(0, 0, 0, 0));
    box-shadow: inset rgba(0, 0, 0, .6) 0 -2px 5px, inset rgba(252, 255, 255, .7) 0 2px 5px, rgba(0, 0, 0, .8) 0 2px 5px -1px;
    color: rgb(0, 0, 0);
}

#game_content {
}

#game_content_2 {
}

.game_content_left {
    width: 43%;
    max-width: 1000px;
    min-height: 50px;
    background-color: #616161;
    opacity: 0.8;
    border-radius: 7px;
    float: left;
    margin: 5px 0px 0px 5px;
    border: 1px solid #000000;
    padding: 8px;
}

.game_content_left_inform {
    float: left;
}

.game_content_right {
    width: 43%;
    background-color: #616161;
    opacity: 0.8;
    border-radius: 7px;
    float: left;
    margin: 5px 5px 0px 5px;
    border: 1px solid #000000;
    padding: 8px;
}

#footer {
    background: #616161;
    height: 74px;
    clear: both;
    border-radius: 7px;
    opacity: 0.8;
    max-width: 1600px;
    min-width: 800px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;

}

#left_footer {
    float: left;
    padding: 30px 0 0 30px;
    color: #fff;
    font-size: 12px;
}

#left_footer a {
    color: #fff;
}

#left_footer a:hover {
    text-decoration: none;
}

#right_footer {
    float: right;
    padding: 30px 30px 0 0;
    color: #fff;
    font-size: 12px;
    text-align: right;
}

#right_footer a {
    color: #fff;
}

#right_footer a:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

.header {
    width: 100%;
    height: 150px;
    background-color: lightgreen;
    padding: 10px;
    text-align: center

}

.inform_line {
    width: 100%;
    height: 5px;
    background-color: lavender;
    padding: 5px;
    text-align: center;
}

.inform_line_city {
    width: 28%;
    height: 5px;
    background-color: thistle;
    padding: 5px;
    text-align: left;
}

.inform_line_res {
    width: 8%;
    height: 5px;
    background-color: lawngreen;
    padding: 5px;
    text-align: left;
}

.left_col {
    width: 12%;
    height: 15px;
    background-color: lightblue;
    padding: 15px;
    vertical-align: top;
    align-content: center;
    text-decoration: none;

}

.center_col {
    width: 71%;
    background-color: greenyellow;
    padding: 10px;
    vertical-align: top;
    text-align: center;
}

.center_col_left {
    width: 27%;
    background-color: lightcoral;
    padding: 10px;
    vertical-align: top;
    text-align: left;

}

.center_col_right {
    width: 44%;
    background-color: teal;
    padding: 10px;
    vertical-align: top;
    text-align: left;
}

.right_col {
    width: 17%;
    background-color: lemonchiffon;
    padding: 15px;
    vertical-align: top;
}

.footer {
    width: 100%;
    padding: 10px 0 10px 10px;
    background-color: olivedrab;
    font-size: 15px
}

.scientic_col {
    width: 20%;
    background-color: lightcoral;
    padding: 10px;
    vertical-align: top;
    text-align: left;
}

.scientic {
    width: 150px;
    align-self: center;
}

.choice_factory_elements {
    width: 110px;
    align-self: center;
}

.build_select {
    width: 150px;
    align: center;
}

.toggle-box {
    display: none;
}

.toggle-box + label {
    cursor: pointer;
    display: block;
    font-weight: normal;
    line-height: 21px;
    margin-bottom: 5px;
    color: #000000;
}

.toggle-box + label + div {
    display: none;
    margin: 25px;
}

.toggle-box:checked + label + div {
    display: block;
}

.inform_place {
    border: 1px solid #353535;
    border-radius: 7px;
    padding: 10px;
}

#project_list {
    margin: 5px;
    text-align: center;
    border: 1px solid #000;
    border-radius: 7px;
    padding-bottom: 7px;
}

.hull ul li {
    display: inline-block;
    min-height: 100px;
    outline: 1px solid #000000;
    width: 30%;
    text-align:center;
}
.hull ul li h4 {
    margin: 0;
}


.deliver {
    display: inline-block;
    width: 100px;
    height: 22px;
    line-height: 22px;
    font-size: 11px;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 8px;
    background: rgb(103, 103, 103) radial-gradient(150% 100% at 50% 5px, rgba(255, 255, 255, .2), rgba(0, 0, 0, 0));
    box-shadow: inset rgba(0, 0, 0, .6) 0 -2px 5px, inset rgba(252, 255, 255, .7) 0 2px 5px, rgba(0, 0, 0, .8) 0 2px 5px -1px;
    color: rgb(0, 0, 0);
}
